*.class
*.DS_Store

# Package Files #
*.jar
*.war
*.ear
/Netbeans proyect/nbproject/private/
/Netbeans proyect/build/
/TorreParqueaderos/nbproject/private/
/TorreParqueaderos/build/
/TorreParqueaderos/dist/